
.banner{
  display: flex;
  justify-content: center;
  background-image: url(../images/Banner\ Image.png);
  width: 1320px;
  height: 600px;
  margin: 40px;
}
.banner-greetings{
  color: white;
  font-size: 20px;
  padding-top: 165px;
  padding-bottom: 395px;
  height: 40px;
}
.banner-title{
  color: white;
  font-size: 45px;
  font-weight: bold;
  padding-top: 231px; 
  width: 632;
  height: 190px;  
 }
