
.banner{
  display: flex;
  justify-content: center;
  background-image: url(../images/Banner\ Image.png);
  width: 1320px;
  height: 600px;
  margin: 40px;
}
.banner-greetings{
  color: white;
  font-size: 20px;
  padding-top: 165px;
  padding-bottom: 395px;
  height: 40px;
}
.banner-title{
  color: white;
  font-size: 45px;
  font-weight: bold;
  padding-top: 231px; 
  width: 632;
  height: 190;  
 }
 .discount{
  color: #FF0000;
  justify-content: center;
  width: 383;
  height: 107;
 }
 .selection{
  justify-content: center;
  width: 802;
  height: 806;
 }
 .selection-first{
  color: #FF0000;
 }
 .party{
  background-image: url(../images/Vectorrr.png);
  display: flex;
  justify-content: center;
  width: 1320px;
  height: 600px;
 }
 .place{
  display: flex;
  justify-content: center;
  background-color: #f8ababf3;
  width: 1320px;
  height: 482px;
 }
 .place-line-button{
  color: white;
  background-color: #FF0000;
  width: 80px;
  height: 60px;
 }
 .offer{
  background-image: url(../images/Ellipse\ 1.png);
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  width: 1320px;
  height: 463px;
 }
 .discount-first{
  background-image: url(../images/Rectangle\ 2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 1320px;
  height: 986px;
 }
 .images{
  width: 1320px;
  height: 1163px;
 }
 .content-felx{
  display: flex;
  justify-content: center;
 }
 .images-list{
  display: flex;
 }
 .images-list-first{
 display: flex;
 }
 .footer{
  width: 1320px;
  height: 616px;
 }
 .footer-first{
  width: 896px;
  height: 336px;
 }
 .footer-first-web{
  width: 150px;
  height: 150px;
 }
 .footer-first-web-dev{
  justify-content: center;
 }
 .button{
  width: 648px; 
  height: 72px;
 }